[submodule "fprime"]
	path = fprime
	url = https://github.com/ODU-CGA-CubeSat/fprime.git
	branch = rpipicow
[submodule "fprime-arduino"]
	path = fprime-arduino
	url = https://github.com/SterlingPeet/fprime-arduino.git
	branch = mbed-work
